<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311900680379-jedcvk2koajidag4g2tv07lv793fe3mf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311900680379-jedcvk2koajidag4g2tv07lv793fe3mf</string>
	<key>API_KEY</key>
	<string>AIzaSyDfD-F1I3q_nbrIbXuJ5hXkyglFeHbjhPA</string>
	<key>GCM_SENDER_ID</key>
	<string>311900680379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.obitodarky.e-VMSS</string>
	<key>PROJECT_ID</key>
	<string>ewaste-a528b</string>
	<key>STORAGE_BUCKET</key>
	<string>ewaste-a528b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311900680379:ios:9074ac0f85ef6de4</string>
	<key>DATABASE_URL</key>
	<string>https://ewaste-a528b.firebaseio.com</string>
</dict>
</plist>